<form class="flexcol {{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100" />
        <div class="header-fields">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            <table>
                <tr>
                    <td colspan="3">{{localize "BATTLE.health"}}</td>
                    <td colspan="3">{{localize "BATTLE.stress"}}</td>
                    <td>{{localize "BATTLE.korruption"}}</td>
                </tr>
                <tr>
                    <td><input type="number" name="system.health.value" value="{{systemData.health.value}}"/></td><td>/</td><td>{{systemData.health.max}}</td>
                    <td><input type="number" name="system.stress.value" value="{{systemData.stress.value}}"/></td><td>/</td><td>{{systemData.stress.max}}</td>
                    <td><input type="number" name="system.korruption.value" value="{{systemData.korruption.value}}"/></td>
                </tr>
            </table>
    
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="skills">{{localize "SIMPLE.skills"}}</a>
        <a class="item" data-tab="attributes">{{localize "SIMPLE.attributes"}}</a>
        <a class="item" data-tab="battle">{{localize "SIMPLE.battle"}}</a>
        <a class="item" data-tab="charekterProgession">{{localize "CHARAKTERPROGRESSION.charakterProgession"}}</a>
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="inventory">{{localize "SIMPLE.Inventory"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

    {{!-- Skills Tab --}}
    <div class="tab description" data-group="primary" data-tab="skills">
    <div>
    {{#if false}}
        <table>
            <tr>
                <th colspan="2">{{localize "SIMPLE.name"}}</th>
                <th>{{localize "SIMPLE.value"}}</th>
            </tr>
            {{#each systemData.skills as |skil key|}}
            <div class="skill-item item" data-item-id="{{skil._id}}">
                <tr>
                <th>{{localize skil.localized}}</th>
                <th><a class="rollable" data-label="{{skil.label}}" data-roll="1d100"><i class="fas fa-dice-d20"></i></a></th>
                <th>{{skil.finalvalue}}</th>
                </tr>
            </div>
            {{/each}}                
        </table>
    {{else}}
        <table>
            <tr>
                <th colspan="2">{{localize "SIMPLE.name"}}</th>
                <th>{{localize "SIMPLE.base"}}</th>
                <th>{{localize "SIMPLE.boni"}}</th>
                <th>{{localize "SIMPLE.value"}}</th>
            </tr>
            {{#each systemData.skills as |skil key|}}
            <div class="skill-item item" data-item-id="{{skil._id}}">
                <tr>
                <th>{{localize skil.localized}}</th>
                <th><a class="rollable" data-label="{{skil.label}}" data-roll="1d100"><i class="fas fa-dice-d20"></i></a></th>
                <th>{{skil.base}}</th>
                <th><input type ="number" name="system.skills.{{key}}.value" value="{{skil.value}}"></th>                    
                <th>{{skil.finalvalue}}</th>
                </tr>
            </div>
            {{/each}} 
        </table>
    {{/if}}
    </div>
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
        {{#if flase}}
        <table>
            <tr>
                <th>{{localize "SIMPLE.name"}}</th>
                <th>{{localize "SIMPLE.value"}}</th>
                <th colspan="3">{{localize "SIMPLE.charge"}}</th>
            </tr>
            {{#each systemData.attributes as |atr key|}}
            <div>
                <tr>
                    <th>{{localize atr.localized}}</th>
                    <th>{{atr.value}}</th>
                    <th><input type="number" name="system.attributes.{{key}}.charges.value" value="{{atr.charges.value}}"></th>
                    <th>/</th>
                    <th>{{atr.charges.max}}</th>
                </tr>
            </div>
            {{/each}}  
        </table>
        {{else}}
        <table>
            <tr>
                <th>{{localize "SIMPLE.name"}}</th>
                <th>{{localize "SIMPLE.value"}}</th>
                <th colspan="3">{{localize "SIMPLE.charge"}}</th>
            </tr>
            {{#each systemData.attributes as |atr key|}}
            <div class="attributes-item item" data-item-id="{{atr._id}}">
                <tr>
                    <th>{{localize atr.localized}}</th>
                    <th><input type="number" name="system.attributes.{{key}}.bought" value="{{atr.bought}}"></th>
                    <th><input type="number" name="system.attributes.{{key}}.charges.value" value="{{atr.charges.value}}"></th>
                    <th>/</th>
                    <th>{{atr.charges.max}}</th>
                </tr>
            </div>
            {{/each}}  
        </table>
        {{/if}}
    </div>

    
    {{!-- Battle Tab --}}
    <div class="tab battle" data-group="primary" data-tab="battle">

        <h3>{{localize "SIMPLE.thresholds"}}</h3>
        <table>
            <tr>
                <td>{{localize "BATTLE.firstThreshold"}}</td>
                <td>{{localize "BATTLE.secondThreshold"}}</td>
                <td>{{localize "BATTLE.thirdThreshold"}}</td>
                <td>{{localize "BATTLE.fourthThreshold"}}</td>
            </tr>
            <tr>
                <td>{{systemData.healthThresholds.firstThreshold.value}}</td>
                <td>{{systemData.healthThresholds.secondThreshold.value}}</td>
                <td>{{systemData.healthThresholds.thirdThreshold.value}}</td>
                <td>{{systemData.healthThresholds.fourthThreshold.value}}</td>
            </tr>
        </table>

        <table>
            <tr>
                <td>{{localize "BATTLE.armor"}}</td>
                <td colspan="3">{{localize "SIMPLE.dice"}}</td>
            </tr>
            <tr>
                <td><a class="armor-roll" data-label="{{systemData.armor.label}}" data-roll="1d6">{{systemData.armor.type}}</a></td>
                <td><input type="number" name="system.armor.value" value="{{systemData.armor.value}}"/></td><td> / </td><td>{{systemData.armor.max}}</td>
            </tr>
        </table>

        <table>
            <tr>
                <td colspan="10">{{localize "BATTLE.teampoints"}}</td>
            </tr>
            <tr>
                <input type="checkbox" name="data.teampoints.cb1" {{checked  data.teampoints.cb1}}>
                <input type="checkbox" name="data.teampoints.cb2" {{checked  data.teampoints.cb2}}>
                <input type="checkbox" name="data.teampoints.cb3" {{checked  data.teampoints.cb3}}>
                <input type="checkbox" name="data.teampoints.cb4" {{checked  data.teampoints.cb4}}>
                <input type="checkbox" name="data.teampoints.cb5" {{checked  data.teampoints.cb5}}>
                <input type="checkbox" name="data.teampoints.cb6" {{checked  data.teampoints.cb6}}>
                <input type="checkbox" name="data.teampoints.cb7" {{checked  data.teampoints.cb7}}>
                <input type="checkbox" name="data.teampoints.cb8" {{checked  data.teampoints.cb8}}>
                <input type="checkbox" name="data.teampoints.cb9" {{checked  data.teampoints.cb9}}>
                <input type="checkbox" name="data.teampoints.cb10" {{checked  data.teampoints.cb10}}>
            </tr>
        </table>


        <table>
            <tr>
                <td>{{localize "BATTLE.damage"}}:</td><td><a class="dmg-roll" data-label="{{systemData.damage.label}}" data-roll="1d100">2d6 + {{systemData.damage.extra}}</a></td>
            </tr>
        </table>
                    
        <table>
            <tr>
                <td>{{localize "BATTLE.luck"}}:</td><td><input type="number" name="system.luck.value" value="{{systemData.luck.value}}"/></td><td> | </td><td>{{systemData.luck.max}}</td>
            </tr>
        </table>

    </div>

    
    {{!-- Charakter Progession Tab --}}
    <div class="tab charekterProgession" data-group="primary" data-tab="charekterProgession">
    <div>
        <div>XP: <input type="number" name="sytem.xp" value="{{systemData.xp}}"></div>
        <div>Level: <input type="number" name="sytem.level" value="{{systemData.level}}"></div>
        <table>
            <tr>
                <th>{{localize "CHARAKTERPROGRESSION.stat"}}</th>
                <th>{{localize "CHARAKTERPROGRESSION.price"}}</th>
                <th>{{localize "CHARAKTERPROGRESSION.buyAmount"}}</th>
                <th>{{localize "CHARAKTERPROGRESSION.priceTotal"}}</th>
                <th>{{localize "CHARAKTERPROGRESSION.startingValue"}}</th>
                <th>{{localize "CHARAKTERPROGRESSION.finalAmount"}}</th>
            </tr>
            <tr>
                <td>{{localize "BATTLE.health"}}</td>
                <td>{{systemData.health.price}}</td>
                <td><input type="number" name="system.health.bought" value="{{systemData.health.bought}}"/></td>
                <td>{{systemData.health.priceTotal}}</td>
                <td>{{systemData.health.startValue}}</td>
                <td>{{systemData.health.max}}</td>
            </tr>
            <tr>
                <td>{{localize "CHARAKTERPROGRESSION.firstThreshold"}}</td>
                <td>{{systemData.healthThresholds.firstThreshold.price}}</td>
                <td><input type="number" name="system.healthThresholds.firstThreshold.bought" value="{{systemData.healthThresholds.firstThreshold.bought}}"/></td>
                <td>{{systemData.healthThresholds.firstThreshold.priceTotal}}</td>
                <td>{{systemData.healthThresholds.firstThreshold.startValue}}</td>
                <td>{{systemData.healthThresholds.firstThreshold.value}}</td>
            </tr>
            <tr>
                <td>{{localize "CHARAKTERPROGRESSION.secondThreshold"}}</td>
                <td>{{systemData.healthThresholds.secondThreshold.price}}</td>
                <td><input type="number" name="system.healthThresholds.secondThreshold.bought" value="{{systemData.healthThresholds.secondThreshold.bought}}"/></td>
                <td>{{systemData.healthThresholds.secondThreshold.priceTotal}}</td>
                <td>{{systemData.healthThresholds.secondThreshold.startValue}}</td>
                <td>{{systemData.healthThresholds.secondThreshold.value}}</td>
            </tr>
            <tr>
                <td>{{localize "CHARAKTERPROGRESSION.thirdThreshold"}}</td>
                <td>{{systemData.healthThresholds.thirdThreshold.price}}</td>
                <td><input type="number" name="system.healthThresholds.thirdThreshold.bought" value="{{systemData.healthThresholds.thirdThreshold.bought}}"/></td>
                <td>{{systemData.healthThresholds.thirdThreshold.priceTotal}}</td>
                <td>{{systemData.healthThresholds.thirdThreshold.startValue}}</td>
                <td>{{systemData.healthThresholds.thirdThreshold.value}}</td>
            </tr>
            <tr>
                <td>{{localize "CHARAKTERPROGRESSION.fourthThreshold"}}</td>
                <td>{{systemData.healthThresholds.fourthThreshold.price}}</td>
                <td><input type="number" name="system.healthThresholds.fourthThreshold.bought" value="{{systemData.healthThresholds.fourthThreshold.bought}}"/></td>
                <td>{{systemData.healthThresholds.fourthThreshold.priceTotal}}</td>
                <td>{{systemData.healthThresholds.fourthThreshold.startValue}}</td>
                <td>{{systemData.healthThresholds.fourthThreshold.value}}</td>
            </tr>
            <tr>
                <td>{{localize "BATTLE.stress"}}</td>
                <td>{{systemData.stress.price}}</td>
                <td><input type="number" name="system.stress.bought" value="{{systemData.stress.bought}}"/></td>
                <td>{{systemData.stress.priceTotal}}</td>
                <td>{{systemData.stress.startValue}}</td>
                <td>{{systemData.stress.max}}</td>
            </tr>
            <tr>
                <td>{{localize "BATTLE.armor"}}</td>
                <td>{{systemData.armor.price}}</td>
                <td><input type="number" name="system.armor.bought" value="{{systemData.armor.bought}}"/></td>
                <td>{{systemData.armor.priceTotal}}</td>
                <td>{{systemData.armor.startValue}}</td>
                <td>{{systemData.armor.max}}</td>
            </tr>
            <tr>
                <td>{{localize "SIMPLE.skills"}}</td>
                <td>{{systemData.skillsShop.price}}</td>
                <td><input type="number" name="system.skillsShop.bought" value="{{systemData.skillsShop.bought}}"/></td>
                <td>{{systemData.skillsShop.priceTotal}}</td>
                <td>{{systemData.skillsShop.startValue}}</td>
                <td>{{systemData.skillsShop.total}}</td>
            </tr>
            <tr>
                <td>{{localize "BATTLE.damage"}}</td>
                <td>{{systemData.damage.price}}</td>
                <td><input type="number" name="system.damage.bought" value="{{systemData.damage.bought}}"/></td>
                <td>{{systemData.damage.priceTotal}}</td>
                <td>{{systemData.damage.startValue}}</td>
                <td><button class="dmg-roll">2d6 + {{systemData.damage.total}}</button></td>
            </tr>
            <tr>
                <td>{{localize "SIMPLE.attributes"}}</td>
                <td>{{systemData.attributesShop.price}}</td>
                <td><input type="number" name="system.attributesShop.bought" value="{{systemData.attributesShop.bought}}"/></td>
                <td>{{systemData.attributesShop.priceTotal}}</td>
                <td>{{systemData.attributesShop.startValue}}</td>
                <td>{{systemData.attributesShop.total}}</td>
            </tr>
            <tr>
                <td>{{localize "BATTLE.luck"}}</td>
                <td>{{systemData.luck.price}}</td>
                <td><input type="number" name="system.luck.bought" value="{{systemData.luck.bought}}"/></td>
                <td>{{systemData.luck.priceTotal}}</td>
                <td>{{systemData.luck.startValue}}</td>
                <td>{{systemData.luck.max}}</td>
            </tr>
                         
        </table>
    </div>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
        {{editor biographyHTML target="system.biography" button=true editable=editable engine="prosemirror"}}
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab inventory" data-group="primary" data-tab="inventory">
        <div>
            <div>{{localize "SIMPLE.money"}}</div>
            <div><input type="number" name="system.inventory.money" value="{{systemData.inventory.money}}"/></div>
        </div>
                
        <table class="inventory">
        <tr>
            <th class="equiped">
                <h1>1</h1>
            </th>
            <th class="stored">
                <h1>1</h1>
            </th>
        </tr>
        </table>
    </div>

    </section>
</form>